# dependencies
/node_modules/
./pnp
.pnp.js
.yarn/install-state.gz

# env
.env
.env.*
!.env.example
!.env.sample

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# storybook
*storybook.log
storybook-static

# vscode settings
.vscode/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
